body {
    background-image: url('<div class="tenor-gif-embed" data-postid="14993722" data-share-method="host" data-aspect-ratio="1.84971" data-width="100%"><a href="https://tenor.com/view/police-siren-siren-gif-14993722">Police Siren Siren GIF</a>from <a href="https://tenor.com/search/police+siren-gifs">Police Siren GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>');
    background-size: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
}